###############################################################################
# Build results
###############################################################################
**/bin/
**/obj/
**/out/
**/publish/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

###############################################################################
# Visual Studio / VSCode
###############################################################################
.vs/
.vscode/

###############################################################################
# User-specific
###############################################################################
*.user
*.suo
*.userosscache
*.sln.docstates

###############################################################################
# Logs
###############################################################################
*.log
logs/

###############################################################################
# Databases
###############################################################################
*.mdf
*.ldf
*.ndf
*.dbmdl
*.bak

###############################################################################
# Transient
#####################
