<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- extra MIME types we use -->
		<staticContent>
			<remove fileExtension=".mjs" />
			<mimeMap fileExtension=".mjs" mimeType="text/javascript" />
			<remove fileExtension=".lottie" />
			<mimeMap fileExtension=".lottie" mimeType="application/octet-stream" />
			<remove fileExtension=".application" />
			<mimeMap fileExtension=".application" mimeType="application/x-ms-application" />
			<remove fileExtension=".manifest" />
			<mimeMap fileExtension=".manifest" mimeType="application/x-ms-manifest" />
			<remove fileExtension=".deploy" />
			<mimeMap fileExtension=".deploy" mimeType="application/octet-stream" />
			<remove fileExtension=".xbap" />
			<mimeMap fileExtension=".xbap" mimeType="application/x-ms-xbap" />
		</staticContent>

		<!-- Framework-dependent: run dotnet with DLL, OOP -->
		<aspNetCore processPath="dotnet"
		            arguments=".\ScottMo.Web.dll"
		            hostingModel="outofprocess"
		            stdoutLogEnabled="true"
		            stdoutLogFile=".\logs\stdout">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<!-- Connection string is injected during deploy -->
			</environmentVariables>
		</aspNetCore>

		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>